/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');/*Creepster*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Creepster&display=swap');/*Cormorant Garamond*/

*{
    margin: 0%;
    padding: 0%;
}

/*PALETA DE CORES*/
:root{
    --branco: #fff;
    --azul: #455e89;
    --verde: #288360;
    --azul-claro: #2e6f95;
    --roxo: #723c70;
    --violetta: #5c4d7d;
    --rosa: #892b64;
    --rosa-forte: #a01a58;
    --rosa-vermelho: #b7094c;
}

#page{
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100vh;
    display: flex;
}

body{
    background-color: var(--azul-claro);
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100vh;
    display: flex;
}

h2{
    font-family: 'Creepster';
    color: #fffcfdc2;
}

h1,h3,h4,h5,h6{
    color: #fffcfdaf;
    margin: 10px 0px;
    font-family: 'Cormorant Garamound';
}

.m{
    margin: 10px 0px;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border: 2px solid var(--rosa-forte);
    transition: 0.5s;
    background-color: #f5f5f5d0;
    color: #000000;
    font-family: 'Cormorant Garamound';
    font-size: 16px;
}

input::placeholder{
    color: var(--branco);
}

label{
    color: var(--branco);
    font-family: 'Cormorant Garamound';
}

button{
    width: 150px;
    height: 30px;
    background-color: var(--rosa-vermelho);
    border-radius: 10px;
    border: none;
    color: var(--branco);
    transition: 0.5s;
    font-family: 'Cormorant Garamound';
    font-size: 16px;
}

.btnDanger{
    background-color: var(--vermelho);
    color: var(--branco);
}

main{
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    background-color: #142f5f5b;
    box-shadow: 10px 10px 10px var(--cinzaEscuro);
    display: flex;
    max-width: 100%; 
    margin: auto; 
}

#filmeBannerTemplate{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.images{
    width: 100%;
}

form, #resposta{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FORM */
.formGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px 0px;
}

/* RESPOSTA */
#resposta{
    height: 550px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-y: scroll;
    padding: 20px 0px;
}

::-webkit-scrollbar{
    width: 0%;
    display: none;
}

.filme{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #723c7089;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px 20px;
}

.tituloFilme{
    color: var(--rosa-vermelho);
}

.textoFilme{
    color: var(--cinzaEscuro);
}

.categoriaFilme{
    font-size: 10pt;
    color: var(--azul);
}

#erroCadastro{
    color: var(--vermelho);
}

#msgCadastro{
    color: var(--rosa-vermelho);
    font-size: 14px;
    margin-top: 5px;
}

#msgCadastro::before{
    content: "Erro: "; /* Prefixo para indicar que é uma mensagem de erro */
    font-weight: bold;
    display: none; /* Inicialmente oculta */
}

#msgCadastro.error::before{
    display: inline; /* Mostra apenas se houver erro */
}


/* animation */
button:hover{
    box-shadow: 5px 5px 10px var(--rosa-forte);
    transition: 0.5s;
}

input:focus{
    width: 210px;
    height: 25px;
    transition: 0.5s;
    background-color: #a01a5894;
}

button:active{
    background-color: transparent;
    color: var(--roxo);
    transition: 0.1s;
}

.btnDanger:active{
    color: var(--rosa-vermelho);
}